:root {
    --var-primary-color: #DDD0C8;
    --var-secondary-color: #323232;
    --white-text-100: #f1f1f1;
    --white-text-200: #ececec;
    --black-text-100: #3b3b3b;
    --balck-text-200: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* Button */
.brown_btn {
    background-color: var(--var-secondary-color);
    color: var(--white-text-200);
}

.carmel_outline_btn {
    color: var(--white-text-200);
    border: 1px solid var(--var-primary-color);
}

.brown_outline_btn {
    color: var(--black-text-100);
    border: 1px solid var(--var-secondary-color);
}

.flex {
    display: flex;
}

.flex_space_between {
    justify-content: space-between;
}

.flex_center {
    justify-content: center;
}

.flex_gap_10 {
    gap: 10px;
}

.w-100 {
    width: 100%;
}

.hidden {
    display: none;
}


